body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
}

a {
    color: aquamarine;
    font-size: 16px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

h2 {
    color: white;
    font-size: 41px;
    font-weight: 300;
}

footer {
    text-align: right;
}

h4{
    font-size: 21px;
    color: gray;
    font-weight: normal;
}

.centerVideo {
    margin: auto;
}

.container {
    width: 100%;
}

img {
    display: block;
    margin: auto;
}

.phoneIcon {
    margin-top: 30px;
}
